# DB
DB_HOST=postgres-svc
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=gigpf
DB_SSLMODE=disable

#APP
SERVICE_NAME=core-service
APP_ENV=local

#JWT
JWT_SECRET=JASDOWDKDDKWOMKCMSLWDOPQDOWPQDOWQKOCMSKMKDQJI

#SERVER

REST_PORT=8080
GRPC_PORT=9090
METRICS_SERVER_PORT=:9100
OTEL_COLLECTOR_ADDR=otel-collector:4317

# SQS
SQS_QUEUE_URL=http://localstack:4566/000000000000/gig-category-events
GOOGLE_CLIENT_ID=644009424421-ujp563ie7bvg62rdb2rkag4khf7rn7rv.apps.googleusercontent.com